nvidia-diag-driver-local-repo-rhel7-396.26-1.0-1.x86_64.rpm
cuda-repo-rhel7-9-2-local-9.2.88-1.x86_64.rpm
cuda-repo-rhel7-9-2-local-cublas-update-1-1.0-1.x86_64.rpm
cudnn-9.2-linux-x64-v7.1.tgz
libcudnn7_7.1.4.18-1+cuda9.2_amd64.deb
libcudnn7-dev_7.1.4.18-1+cuda9.2_amd64.deb
libcudnn7-doc_7.1.4.18-1+cuda9.2_amd64.deb
cudnn_samples_v7.tgz
